module.exports = {
    'token': '', // Discord token from https://discordapp.com/developers/applications
    'ownerid': ['142831624868855808', '209761601711112192'], // Owner's Discord User ID(s)
    'ownerlogging': true, // Log online messages in DM to the first Owner?
    'prefix': '.', // prefix to get the bots attention ex: .command
    "loglevel": 'INFO', // DEBUG > INFO > WARN > ERROR
    'embedcolor': 16755385, // hex color converted to dec for embeds and username
    "twitchClientId": "12345678901234567890",
    "statusList": [
        "Use .help",
        "games"
    ],
}